.header {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: row;
    background-color: #dedede;
}

.header-item {
    padding: 10px;

    &.active {
        background-color: #cbcbcb;
    }

    a {
        color: black;
    }
}

.user {
    float: right;
    display: block;
    position: absolute;
    right: 30px;
    top: 10px;
    font-weight: bold;
}
