<div class="chat-block">
  <!--<div class="users">-->
    <!--<div class="item"><b>Online ()</b></div>-->
    <!--<div>username</div>-->
  <!--</div>-->
  <div class="chat-container">
    <div class="item"><b>Chat</b></div>
    <div class="chat">
      <div class="message-container" [class.you]="true">
        <div class="message-item">
          <div class="message-author">author <span>date</span></div>
          <div class="message">message</div>
        </div>
      </div>
    </div>
    <div class="input">
      <textarea></textarea>
      <button>Send</button>
    </div>
  </div>
</div>
